<div class="display-full-height">
  <h2><%= @cocktail.name %></h2><a href="#reviews">See reviews</a>
  <div class="d-flex justify-content-between">
    <img src="https://source.unsplash.com/featured/?cocktail" alt="" class="square-img">
    <div class ="flex-grow-1 p-3 ">
      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description  %> of <%= dose.ingredient.name %>
           <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% end %>
    </div>
    <div class="white-form">
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit%>
      <% end %>
    </div>
  </div>
</div>
<div>

<a name="reviews"><h3 class="m-3">Anonymous reviews</h3></a><hr>
  <% @cocktail.reviews.each do |review| %>
    <%= review.rating  %> - <%= review.content  %>
    <%= link_to 'delete', review_path(review), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <hr>
  <% end %>
  <p>Add your review</p>
  <%= simple_form_for([@cocktail, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit%>
  <% end %>
</div>
